html{
    display: grid;
    justify-items: center;
    background-color: rgb(240, 240, 240);
    padding: 0px;
    margin: 0px;
}
body{
    display: grid;
    width: 90%;
    height: 100vh;
    justify-items: center;
    background-color: white;
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.48);
    padding: 0px;
    margin: 0px;
}

.viewer{
    display: grid;
    width: 100%;
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10%;
    justify-items: center;
    background-color: rgb(69, 0, 134);
    color: white;
}
.viewer h2{
    font-size: 150%;
}


.info-consum{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'title-directa  title-red'
        'viewer-directa viewer-red';
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(69, 0, 134);
}
.title_directa{ 
    grid-area: title-directa;
    font-size: 200%;
}
.viewer_directa{ 
    grid-area: viewer-directa;
    font-size: 250%;
}
.title_red{ 
    grid-area: title-red;
    font-size: 200%;
}
.viewer_red{ 
    grid-area: viewer-red;
    font-size: 250%;
}